.elements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
  margin: 50px auto 67px;
}

.elements__card {
  position: relative;
  height: 361px;
  background-color: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

.elements__button-trash {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 20px;
  background: transparent url("../images/trash.png") no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.elements__button-trash:hover {
  opacity: 0.6;
}

.elements__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.elements__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 0 21px;
  width: 246px;
  height: 23px;
}

.elements__title {
  max-width: 215px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elements__like-button {
  width: 22px;
  height: 22px;
  padding: 0;
  background: transparent url("../images/Like.png") no-repeat center;
  border: none;
  cursor: pointer;
}

.elements__like-button:hover,
.active {
  opacity: 0.5;
  background-image: url("../images/like-clicked.png");
}

.elements__like-count {
  margin-left: 253px;
  color: black;
  font-size: 13px;
  font-weight: 400;
  font-family: Inter;
}

@media only screen and (max-width: 1000px), (max-width: 683px) {
  .elements {
    width: 85%;
    justify-content: center;
  }
}
